# Dependencies
node_modules/

# Build output
dist/
*.tsbuildinfo

# Coverage
coverage/
.nyc_output/
.c8_output/
*.lcov

# Test results
test-results/*.xml

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# oclif
oclif.manifest.json
/tmp

